body {
  font:
    18px Arial,
    Helvetica,
    sans-serif;
  line-height: 1.5;
  background-color: #f9f8f3;
  color: #393732;
  max-width: 70%;
  margin: 0 auto;
  text-align: justify;
}

h1,
h2,
h3 {
  text-align: left;
  margin: 34px 0 14px;
  color: #24282b;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
  margin: 0 auto;
  text-indent: 20px;
}

a:link {
  color: #393732;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #c1aa7f;
  background-color: transparent;
}

a:hover {
  color: #65705c;
  text-decoration: underline;
}

hr {
  width: 60%;
  border: 2px solid #ddd1b9;
  border-radius: 50%;
  margin: 38px auto;
}

header {
  display: flex;
  align-items: center;
  background-color: #393732;
}

nav {
  margin-left: 80px;
  display: flex;
  gap: 60px;
}

nav a:link,
nav a:visited {
  text-decoration: none;
  color: #f9f8f3;
  font-weight: 700;
}

nav a:hover {
  color: #c1aa7f;
}

ol {
  font-weight: 600;
  color: #647e5e;
}

ul li {
  margin-bottom: 8px;
}

dl dd {
  margin-top: 8px;
  background-color: rgba(100, 126, 94, 0.8);
  color: #f9f8f3;
  padding: 8px 10px;
  border-radius: 8px;
}

table {
  margin: 0 auto;
  background-color: #f9f8f3;
}

caption {
  margin: 8px auto;
  font-size: 24px;
  color: #24282b;
  font-weight: 700;
}

#seasons-tbl,
#season-map {
  text-align: center;
  border: 6px solid #7d7159;
}

#seasons-tbl td,
#season-map td,
#season-map th {
  padding: 12px 8px;
}

#seasons-tbl th {
  width: 25%;
  height: 180px;
  padding: 0;
  overflow: hidden;
}

#seasons-tbl th img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

#seasons-tbl td a:link,
#seasons-tbl td a:visited {
  color: #393732;
  font-weight: 600;
}

#seasons-tbl td a:hover {
  color: #393732;
  text-decoration: underline;
}

#season-map td,
#season-map th,
#seasons-tbl td,
#seasons-tbl th {
  border: 3px solid rgba(125, 113, 89, 0.3);
  text-align: center;
  vertical-align: middle;
}

#season-map img {
  width: 40%;
  min-width: 20px;
}

#col-destination {
  width: 200px;
  background-color: rgba(193, 170, 127, 0.1);
}

#col-months {
  width: 80px;
  background-color: rgba(193, 170, 127, 0.2);
}

.peak {
  background-color: #adc178;
}
.shoulder {
  background-color: #ffcb69;
}
.low {
  background-color: white;
}

a.back-btn:link,
a.back-btn:visited,
a.back-btn:hover {
  text-decoration: none;
  font-weight: 700;
  font-style: italic;
  color: #393732 !important;
}

.main-img {
  height: 400px;
  background-image: url('./imgs/main-header.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.more-inf {
  display: block;
  text-align: right;
  font-style: italic;
  margin: 12px auto;
}

.img-center {
  display: block;
  text-align: center;
}

.img-center img {
  width: 30%;
  min-width: 200px;
}

.slogan {
  font-style: italic;
  color: #65705c;
  text-indent: 0;
}

#main-title {
  color: #f9f8f3;
  font-size: 48px;
  font-weight: 900;
  margin: 32px 0;
}
